<!-- Topbar Start -->
<div class="container-fluid py-2 border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-6 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <a class="text-decoration-none text-body" href="{{env.SITE_MAP1}}" target="_blank">
                        <i class="bi bi-geo-alt me-2"></i>
                        <span class="d-none d-xl-inline-block">{{env.SITE_ADDRESS}}</span>
                    </a>
                    <!-- <span class="text-body">|</span> -->
                    <a class="text-decoration-none text-body ms-2" href="tel:{{env.SITE_PHONE}}" target="_blank">
                        <i class="bi bi-telephone me-2"></i>
                        <span class="d-none d-xl-inline-block">{{env.SITE_PHONE}}</span>
                    </a>
                    <!-- <span class="text-body">|</span> -->
                    <a class="text-decoration-none text-body ms-2" href="https://wa.me/{{env.SITE_WHATSAPP}}"
                        target="_blank">
                        <i class="bi bi-whatsapp me-2"></i>
                        <span class="d-none d-xl-inline-block">{{env.SITE_WHATSAPP}}</span>
                    </a>
                    <!-- <span class="text-body">|</span> -->
                    <a class="text-decoration-none text-body ms-2" href="mailto:{{env.SITE_EMAIL}}"
                        target="_blank">
                        <i class="bi bi-envelope me-2"></i>
                        <span class="d-none d-xl-inline-block">{{env.SITE_EMAIL}}</span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-6 text-center text-lg-end">
                <div class="d-inline-flex align-items-center">
                    <a class="text-body px-2" href="{{env.SITE_FAECBOOK}}">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-body px-2" href="{{env.SITE_TWITTER}}">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-body px-2" href="{{env.SITE_LINKEDIN}}">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-body px-2" href="{{env.SITE_INSTAGRAM}}">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-body ps-2" href="{{env.SITE_YOUTUBE}}">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid sticky-top bg-white shadow-sm">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
            <a routerLink="" class="navbar-brand">
                <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-clinic-medical me-2"></i>{{env.SITE_NAME}}
                </h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
                        class="nav-item nav-link">Home</a>
                    <a routerLink="/about" routerLinkActive="active" class="nav-item nav-link">About</a>
                    <a routerLink="/service" routerLinkActive="active" class="nav-item nav-link">Service</a>
                    <a routerLink="/doctor" routerLinkActive="active" class="nav-item nav-link">Doctor</a>
                    <a routerLink="/appointment" routerLinkActive="active" class="nav-item nav-link">Appointment</a>
                    <a routerLink="/package" routerLinkActive="active" class="nav-item nav-link">Package</a>
                    <a routerLink="/testimonial" routerLinkActive="active" class="nav-item nav-link">Testimonial</a>
                    <a routerLink="/contactus" routerLinkActive="active" class="nav-item nav-link">Contact</a>
                    <a routerLink="/admin" routerLinkActive="active" class="nav-item nav-link">Admin</a>
                    <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu m-0">
                            <a href="blog" class="dropdown-item">Blog Grid</a>
                            <a href="detail" class="dropdown-item">Blog Detail</a>
                            <a href="team" class="dropdown-item">The Team</a>
                            <a href="testimonial" class="dropdown-item">Testimonial</a>
                            <a href="appointment" class="dropdown-item">Appointment</a>
                            <a href="search" class="dropdown-item">Search</a>
                        </div>
                    </div> -->
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->